{% extends "layout.html.twig" %}

{% block title %}
    TEZ NEWS | Magagize & News HTML Template
{% endblock %}


{% block content %}
<div class="row">
    <!--colleft-->
    <div class="col-md-8 col-sm-12">
        <div class="box-caption">
            <span>spotlight</span>
        </div>
        <!--sportlight-->
        <section class="owl-carousel owl-spotlight">
            {% for s in spotlight %}
                {% include 'components/_spotlight.html.twig' %}
            {% endfor %}
        </section>

        <!--spotlight-thumbs-->
        <section class="spotlight-thumbs">
            <div class="row">
                {% for article in articles %}
                    {% include 'components/homeArticle.html.twig' %}
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
